body {
  color: white;
  background-color: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}
.jumbotron {
  background: #333;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .vn-logo {
  display: block;
  background: #333;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .vn-logo img {
  max-width: 100%; 
}