<html lang="en">
{{template "header.tmpl.html"}}
<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="vn-logo">
      <img src="/static/vape_nation_logo.jpg">
    </a>
    <h1>YliquidCalculator</h1>
      <p>Insert the values and click the button. That simple!</p>
  </div>
</div>
<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="alert alert-info text-center" role="alert">
      This website is still under the development. Remember that smoking is not good for your health.
  </div>
  <hr>
  {{template "input_form.tmpl.html"}}
</div>
</body>
</html>